body {
  margin: 0;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 background: #0f1B21;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}
code{
  font-family: 'Courier New', Courier, monospace;
}
 


  